
@mixin fade-in-out($name) {
  .#{$name}-enter-active {
    transition: all .3s ease;
  }
  .#{$name}-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .#{$name}-fade-enter, .#{$name}-fade-leave-to
    /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
}

.fade-enter-active {
  // transition: all .3s ease;
  transition: all .8s ease-out;
}
.fade-leave-active {
  // transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  transition: all .8s ease-out;
}
.fade-enter
  /* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateY(200px);
  position: absolute;
  opacity: 0;
}
.fade-leave-to {
  transform: translateY(-2000px);
  position: absolute;
  opacity: 0;
}

.roll-enter {
  opacity: 0;
  transform: translateY(30px);
}

.roll-leave-to {
  opacity: 0;
  transform: translateY(-30px)
}

.roll-enter-active,
.roll-leave-active {
  transition: all 0.6s ease;
}
