// html, body {
//   height: calc(100% - 60px);
//   width: 100%;
// }
@import './var.scss';

// 用户卡片CSS
.user-card-body {
  .header {
    display: flex;
    align-items: center;
    .user-card-info {
      width: 144px;
      margin-left: 10px;
      .info-item-nickname {
        margin: 0;
      }
      .info-item-signature {
        margin: 3px 0;
      }
    }
  }
}

// 全局布局CSS
#app {
  min-height: 100%;
  min-width: 1120px;
}

* {
  box-sizing: border-box;
}

.curp {
  cursor: pointer;
}

// 文字类CSS样式
.primary-font {
  color: $primaryfont;
  font-size: 16px;
}

.secondary-font {
  color: $secondaryfont;
  font-size: 12px;
}

.ellipsis{
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.bottom-line {
  border-bottom: 1px solid #E4E7ED;
}

// 布局、位置CSS
.hor-ver-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.all0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.space-bw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space-ar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.p-l-t {
  position: absolute;
  left: 10px;
  top: 10px;
  @extend .curp
}

.p-r-t {
  position: absolute;
  right: 10px;
  top: 10px;
  @extend .curp
}

// 用户不在线时图片置灰
.offline {
  color: $normalfont;
  &>img {
    opacity: .5;
  }
}

// 文字类操作
.operation-text {
  &:hover {
    background-color: $color-grey2;
  }
  display: inline-block;
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 3px;
  color: $primarycolor;
  transition: all .5s ease-in;
}

.operation-text__danger {
  @extend .operation-text;
  color: $dangercolor;
}

/* 美化滚动条 */
*::-webkit-scrollbar{
width:4px;
height:4px;
}
*::-webkit-scrollbar-track{
background: #e9ebee;
border-radius:2px;
}
*::-webkit-scrollbar-thumb{
background: #aaa;
border-radius:2px;
}
*::-webkit-scrollbar-thumb:hover{
background: #747474;
}
*::-webkit-scrollbar-corner{
background: #f6f6f6;
}
