.home-page {
  height: 100%;
  .ant-carousel .slick-slide {
    text-align: center;
    height: 300px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #cccccc;
  }
}
