.statics-avatar-page {
  .avatar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .avatar-item {
      position: relative;
      display: inline-block;
      // border: 1px solid red;
      margin-bottom: 10px;
      .oper {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        &:hover {
          filter: blur(2px);
          opacity: 1;
        }
      }
      img:hover {
        filter: blur(2px);
      }
      &:hover {
        .oper {
          opacity: 1;
        }
      }
    }
  }
}